@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
	font-family: "Outfit", sans-serif;
}

@layer base {
	button{
		@apply cursor-pointer;
	}
	input:not([type="checkbox"]){
		@apply outline-none focus:ring border border-gray-400 focus:ring-blue-400 focus:border-blue-400 rounded-lg
	}
	tex-area{
		@apply outline-none focus:ring border border-gray-300 focus:ring-blue-300 focus:border-blue-500 rounded-lg resize-none
	}
}


  